* {
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible", sans-serif;
    /* color: #111b3a; */
}

/* body {
  background-color: #fffefc;
} */
#wrapper {
    padding: 0;
}

#wrapper > * {
    padding: 0;
}

/* .left {
  background-color: lightcoral;
} */

/* .middle {
  background-color: lightgreen;
} */

/* .right {
  background-color: rgb(196, 29, 160);
} */

.yellow {
    background-color: #efe3d0;
}

.green {
    background-color: #93d9a3;
}

.blue {
    background-color: #a2dbfa;
}

.middle-bg {
    background-color: #f4f6f8;
}

/* Color theme */

.theme-color {
    background-color: #00a48a;
}

.light-gray-text {
    color: #b8bec6;
}

.gray-text {
    color: #666c7c;
}

.black-text {
    color: #2f3853;
}

/* ---------- */
.scrollable {
    overflow-y: scroll;
}

.active-mail {
    background-color: #f4f6f8 !important;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.timestamp {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 15px;
    color: #a2aab4;
}

/* Height */
.middle {
    height: 100vh;
    padding-top: 15px !important;
}

.column-header {
    height: 80px;
}

.middle .content {
    height: calc(100vh - 80px - 15px);
}

.right .content {
    height: calc(100vh - 80px);
}

/* Middle */
/* .middle .content {

} */

.middle .column-header {
    height: 65px;
    padding-top: 10px;
    border-bottom: 2px solid #edeff1;
}

.middle .logo-img-wrapper {
    display: flex;
    align-items: center;
}

.middle .middle-bg {
    border-radius: 20px;
}

.search-form {
    padding: 5px 20px;
    margin-top: 15px;
    background-color: #f4f6f8;
    border-radius: 25px;
}

.search-form i {
    padding-top: 10px;
}

.search-form input {
    background-color: #f4f6f8;
    border: none;
    color: #afb3c1;
}

.middle .all-mails-wrapper {
    padding-right: 20px;
    padding-left: 20px;
}

.middle .all-mails-wrapper a {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.1s;
    margin: 10px 0;
}

.middle .all-mails-wrapper a:hover {
    background-color: white;
}

.middle .all-mails-wrapper .mail-preview {
    padding-right: 5px;
    padding-left: 15px;
}

.middle .all-mails-wrapper .right-mail {
    padding: 0 10px;
    color: #8c9ab0;
    font-size: 14px;
}

#compose {
    width: 100%;
}

.middle ul {
    padding-left: 0
}

.middle ul li {
    list-style-type: none;
    margin: 15px 0;
}

.middle ul li button {
    border: none;
    background: transparent;
    padding: 0
}

.middle ul li a {
    text-decoration: none;
}

.middle .choose-view {
    font-weight: bold;
    color: #3d424a;
}

.middle .choose-view i {
    color: #bec4cd;
}

/* Right */
.right .right-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.right .content {
    padding: 20px 30px;
}

.right .column-header {
    border-bottom: 2px solid #edeff1;
}

.right #view-name {
    margin-top: 15px;
}

.right .column-header h5 {
    padding-top: 10px;
    padding-left: 10px;
}

.right .column-header i {
    color: #a2aab4;
}

.right .account {
    align-items: center;
}

.right .left-mail img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.right .left-mail div {
    padding-top: 8px;
    padding-left: 10px;
}

.right .right-mail {
    padding-top: 10px;
}

.right .previous-emails a {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #eceef1;
    border-top: 1px solid #eceef1;
    padding: 0;
    background-color: transparent;
}

.right .sender-info-left .info {
    padding-left: 10px;
}

.right .mail-wrapper {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #edf0ef;
    border-collapse: collapse;
}

.right .mail-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
}

.right .mail-preview .mail-subject {
    color: #2f3853;
}

.right .mail-preview .mail-content {
    color: #8c9ab0;
}

/*  Scrollbar styling  */
/* width */
.right ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.right ::-webkit-scrollbar-track {
    background: #d5f5e9;
}

/* Handle */
.right ::-webkit-scrollbar-thumb {
    background: #8cd1c6;
}

/* Handle on hover */
.right ::-webkit-scrollbar-thumb:hover {
    background: #83dfd1;
}
