<!-- Compose view -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Compose mail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard
                </button>
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>


<!-- Emails view -->
<div id="emails-view">
    <div class="mail-wrapper list-group-item list-group-item-action py-3 d-flex justify-content-between">
        <div class="preview-wrap d-flex">
            <img class="avatar" src='https://image.flaticon.com/icons/png/512/3940/3940401.png'
                 alt="avatar"/>
            <div class="mail-preview ms-3">
                <strong class="mb-1 black-text">Harry Potter</strong>
                <div style="color: #8c9ab0;">
                    <span class="mail-subject">About my wand</span>
                    <span class="mail-content ms-2">- Dear sir, my wand has been working weirdly these days. What should I...</span>
                </div>
            </div>
        </div>
        <div class="timestamp">
            <div>3/8</div>
            <div>11:04</div>
        </div>
    </div>
</div>


<!-- Email content view -->
<div id="email-content-view">
    <div>
        <div class="subject d-flex justify-content-between">
            <h4 class="mb-4">Re: Request to visit Hogsmeade village this weekend</h4>
            <div>
                <button type="button" class="btn btn-outline-secondary" style="font-size: 13px">
                    <i class="fas fa-archive me-2"></i>Archive
                </button>
            </div>
        </div>
        <div class="sender-info mt-4">
            <div class="d-flex justify-content-between">
                <div class="sender-info-left d-flex">
                    <div>
                        <img class="avatar"
                             src='https://image.flaticon.com/icons/png/512/3940/3940401.png'
                             alt="avatar"/>
                    </div>
                    <div class="info">
                        <div>
                            From: <strong>Hermione Granger</strong>
                            <span class="light-gray-text">- hermione@hogwarts.com</span>
                        </div>
                        <div>To: <span class="light-gray-text">han@hello.com</span></div>
                    </div>
                </div>
                <div class="sender-info-right">
                    <div class="mail-date light-gray-text">
                        03 Aug 2021 6:02 PM
                    </div>
                </div>
            </div>
        </div>
        <div class="mail-content mt-3">
            <div class="mail-body gray-text">
                <p>Dear Sissy,</p>
                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    In vitae purus mi. Proin condimentum scelerisque
                    tincidunt. Duis at consectetur dui. Aliquam ut arcu luctus lorem lobortis
                    bibendum
                    sed
                    vitae
                    magna. Nam nibh quam, dictum non egestas a, tincidunt at mauris.
                </p>

                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    In vitae purus mi. Proin condimentum scelerisque
                    tincidunt. Duis at consectetur dui. Aliquam ut arcu luctus lorem lobortis
                    bibendum
                    sed
                    vitae
                    magna. Nam nibh quam, dictum non egestas a, tincidunt at mauris.
                </p>

                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    In vitae purus mi. Proin condimentum scelerisque
                    tincidunt. Duis at consectetur dui. Aliquam ut arcu luctus lorem lobortis
                    bibendum
                    sed
                    vitae
                    magna. Nam nibh quam, dictum non egestas a, tincidunt at mauris.
                </p>

                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    In vitae purus mi. Proin condimentum scelerisque
                    tincidunt. Duis at consectetur dui. Aliquam ut arcu luctus lorem lobortis
                    bibendum
                    sed
                    vitae
                    magna. Nam nibh quam, dictum non egestas a, tincidunt at mauris.
                </p>

                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    In vitae purus mi. Proin condimentum scelerisque
                    tincidunt. Duis at consectetur dui. Aliquam ut arcu luctus lorem lobortis
                    bibendum
                    sed
                    vitae
                    magna. Nam nibh quam, dictum non egestas a, tincidunt at mauris.
                </p>

                <p>
                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero
                    fermentum
                    dictum.
                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec
                    semper
                    sapien
                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta
                    efficitur
                    ligula.
                    Integer non ornare diam, vel egestas lacus.
                </p>
                <p>
                    In vitae purus mi. Proin condimentum scelerisque
                    tincidunt. Duis at consectetur dui. Aliquam ut arcu luctus lorem lobortis
                    bibendum
                    sed
                    vitae
                    magna. Nam nibh quam, dictum non egestas a, tincidunt at mauris.
                </p>
            </div>
            <div class="mail-footer mt-5">
                <!-- Button trigger modal -->
                <button type="button" class="btn theme-color text-white" data-bs-toggle="modal"
                        data-bs-target="#mailModal">Reply
                    <i class="ms-1 fas fa-reply"></i>
                </button>
            </div>
        </div>
    </div>
</div>