{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="container-fluid ps-5">
        <div class="row" id="wrapper">
            <div class="middle col-2">
                <div class="middle-bg middle-wrap px-4">
                    <div class="column-header">
                        <div class="d-flex">
                            <div class="logo-img-wrapper"><img
                                    src="https://image.flaticon.com/icons/png/512/4616/4616046.png"
                                    style="width: 25px;"></div>
                            <div class="ms-3 black-text fw-bold fs-2">Mail</div>
                        </div>
                    </div>
                    <div class="content py-4">

                        <!-- Compose view -->
                        <div class="modal fade" id="mailModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             data-bs-backdrop="static"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><i
                                                class="fas fa-envelope me-2"></i>Compose email</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form id="compose-form">
                                            <div class="mb-3">
                                                <label for="compose-recipients"
                                                       class="col-form-label">Recipient (Use comma to separate multiple
                                                    emails):</label>
                                                <input type="text" class="form-control" id="compose-recipients">
                                            </div>
                                            <div class="mb-3">
                                                <label for="compose-subject"
                                                       class="col-form-label">Subject:</label>
                                                <input type="text" class="form-control" id="compose-subject">
                                            </div>
                                            <div class="mb-3">
                                                <label for="compose-body" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="compose-body"
                                                          style="height: 350px;"></textarea>
                                            </div>
                                            <div class="mt-2 text-end">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                        onclick="clearAll()">Discard
                                                </button>
                                                <input type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                                       value="Send"/>

                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Navigate -->
                        <button type="button" class="btn theme-color text-white px-4" data-bs-toggle="modal"
                                data-bs-target="#mailModal" id="compose">
                            <span class="fs-5 me-2">Compose</span>
                            <i class="fas fa-pen"></i>
                        </button>
                        <ul class="mt-4">
                            <li style="color: #37a389;">
                                <button id="inbox" class="choose-view"><i class="fas fa-envelope me-3"></i>Inbox
                                </button>
                            </li>
                            <li>
                                <button id="sent" class="choose-view"><i class="fas fa-paper-plane me-3"></i>Sent
                                </button>
                            </li>
                            <li>
                                <button
                                        id="archived" class="choose-view"><i class="fas fa-archive me-3"></i>Archived
                                </button>
                            </li>
                            <li><a class="choose-view" href="{% url 'logout' %}"><i
                                    class="fas fa-sign-out-alt me-3"></i>Log Out</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="right col-10">
                <div class="right-wrapper">
                    <div class="column-header row">
                        <div id="view-name" class="col-4"><h5>Inbox</h5></div>
                        <div class="col-4">
                            <form class="search-form d-flex">
                                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                                <i class="fas fa-search"></i>
                            </form>
                        </div>
                        <div class="d-flex account col-4 justify-content-end">
                            <div class="gray-text me-2">{{ request.user.email }}</div>
                            <img style="width: 25px;" src='https://image.flaticon.com/icons/png/512/3940/3940403.png'/>
                        </div>
                    </div>
                    <div class="content scrollable">

                        <!-- Message -->
                        <div id="message"></div>

                        <!-- List of emails -->
                        <div id="emails-view"></div>

                        <!-- Email content -->
                        <div id="email-content-view"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}