{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="container-fluid">
        <div class="row" id="wrapper">
            <div class="left col-2">
                <div class="left-wrapper">
                    <div class="column-header">
                        <div class="d-flex">
                            <div class="logo-img-wrapper"><img
                                    src="https://image.flaticon.com/icons/png/512/4616/4616046.png"
                                    style="width: 25px;"></div>
                            <div class="ms-3 black-text fw-bold fs-2">Mail</div>
                        </div>
                    </div>
                    <div class="content">
                        <button type="button" class="btn theme-color text-white px-4" data-bs-toggle="modal"
                            data-bs-target="#mailEditor" id="compose">
                            <span class="fs-5 me-2">Compose</span>
                            <i class="fas fa-pen"></i>
                        </button>

                        <ul>
                            <li style="color: #37a389;"><i class="fas fa-envelope me-3 mb-4"></i><button id="inbox">Inbox</button></li>
                            <li><i class="fas fa-paper-plane me-3 mb-4"></i><span><button id="sent">Sent</button></span></li>
                            <li><i class="fas fa-archive me-3 mb-4"></i><span><button id="archived">Archived</button></span></li>
                            <li><i class="fas fa-sign-out-alt me-3 mb-4"></i><a class="" href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="middle col-3">
                <div class="middle-bg middle-wrap">
                    <div class="column-header">
                        <form class="search-form">
                            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                        </form>
                    </div>
                    <div class="content py-4">
                        <div class="all-mails-wrapper scrollable">
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="active-mail list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Close&eyebrowType=Default&mouthType=Default&skinColor=Pale' />
                                        <div class="mail-preview">
                                            <strong class="mb-1 black-text">Harry Potter</strong>
                                            <div style="color: #8c9ab0;">
                                                Dear sir, my wand has been working weirdly these days. What should I
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div class="" style="margin-top: 3px;">3/8</div>
                                        <div>11:04</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-7">
                <div class="right-wrapper">
                    <div class="column-header d-flex justify-content-end">
                        <div class="column-header-wrapper">
                            <div class="gray-text">{{ request.user.email }}</div>
                        </div>
                        <div class="ms-2">
                            <img style="width: 25px;"
                                src='https://image.flaticon.com/icons/png/512/4403/4403049.png' />
                        </div>
                    </div>
                    <div class="content scrollable">
                        <div class="subject">
                            <h4 class="mb-4">Re: Request to visit Hogsmeade village this weekend</h4>
                        </div>
                        <div class="previous-emails">
                            <a href="#" class="list-group-item list-group-item-action py-2">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Blank&facialHairType=MoustacheMagnum&facialHairColor=BrownDark&clotheType=CollarSweater&clotheColor=Gray01&eyeType=Close&eyebrowType=RaisedExcited&mouthType=Grimace&skinColor=DarkBrown' />
                                        <div>
                                            <strong class="mb-1">Professor McGonagall</strong>
                                            <span class="light-gray-text ms-2">- Some placeholder content in a paragraph
                                                below ...</span>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div class="light-gray-text">11:04 3/8</div>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <a class="btn py-2" data-bs-toggle="collapse" href="#collapseMails" role="button"
                                    aria-expanded="false" aria-controls="collapseMails" id="click-see-more-btn">
                                    <i class="fas fa-chevron-down me-2"></i>Click to see more
                                </a>

                                <div class="collapse" id="collapseMails">
                                    <a href="#" class="list-group-item list-group-item-action py-2">
                                        <div class="preview-wrap d-flex justify-content-between">
                                            <div class="left-mail d-flex">
                                                <img class="avatar"
                                                    src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Blank&facialHairType=MoustacheMagnum&facialHairColor=BrownDark&clotheType=CollarSweater&clotheColor=Gray01&eyeType=Close&eyebrowType=RaisedExcited&mouthType=Grimace&skinColor=DarkBrown' />
                                                <div>
                                                    <strong class="mb-1">Professor McGonagall</strong>
                                                    <span class="light-gray-text ms-2">- Some placeholder content in a
                                                        paragraph
                                                        below ...</span>
                                                </div>
                                            </div>
                                            <div class="right-mail">
                                                <div class="light-gray-text">11:04 3/8</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action py-2">
                                        <div class="preview-wrap d-flex justify-content-between">
                                            <div class="left-mail d-flex">
                                                <img class="avatar"
                                                    src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Blank&facialHairType=MoustacheMagnum&facialHairColor=BrownDark&clotheType=CollarSweater&clotheColor=Gray01&eyeType=Close&eyebrowType=RaisedExcited&mouthType=Grimace&skinColor=DarkBrown' />
                                                <div>
                                                    <strong class="mb-1">Professor McGonagall</strong>
                                                    <span class="light-gray-text ms-2">- Some placeholder content in a
                                                        paragraph
                                                        below ...</span>
                                                </div>
                                            </div>
                                            <div class="right-mail">
                                                <div class="light-gray-text">11:04 3/8</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <a href="#" class="list-group-item list-group-item-action py-2">
                                <div class="preview-wrap d-flex justify-content-between">
                                    <div class="left-mail d-flex">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Blank&facialHairType=MoustacheMagnum&facialHairColor=BrownDark&clotheType=CollarSweater&clotheColor=Gray01&eyeType=Close&eyebrowType=RaisedExcited&mouthType=Grimace&skinColor=DarkBrown' />
                                        <div>
                                            <strong class="mb-1">Professor McGonagall</strong>
                                            <span class="light-gray-text ms-2">- Some placeholder content in a
                                                paragraph
                                                below ...</span>
                                        </div>
                                    </div>
                                    <div class="right-mail">
                                        <div class="light-gray-text">11:04 3/8</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sender-info mt-4">
                            <div class="d-flex justify-content-between">
                                <div class="sender-info-left d-flex">
                                    <div class="">
                                        <img class="avatar"
                                            src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairFroBand&accessoriesType=Kurt&hairColor=PastelPink&facialHairType=Blank&clotheType=ShirtVNeck&clotheColor=Heather&eyeType=Close&eyebrowType=RaisedExcited&mouthType=Twinkle&skinColor=Yellow' />
                                    </div>
                                    <div class="info">
                                        <div>
                                            <strong>Hermione Granger</strong>
                                            <span class="light-gray-text">&lt;hermione@hogwarts.com&gt;</span>
                                        </div>
                                        <div>to me <span class="light-gray-text">&lt;han@hello.com&gt;</span></div>
                                    </div>
                                </div>
                                <div class="sender-info-right">
                                    <div class="mail-date light-gray-text">
                                        03 Aug 2021 6:02 PM
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mail-content mt-3">
                            <div class="mail-body gray-text">
                                <p>Dear Sissy,</p>
                                <p>
                                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero fermentum
                                    dictum.
                                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec semper
                                    sapien
                                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta efficitur
                                    ligula.
                                    Integer non ornare diam, vel egestas lacus.
                                </p>
                                <p>
                                    In vitae purus mi. Proin condimentum scelerisque
                                    tincidunt. Duis at consectetur dui. Aliquam ut arcu luctus lorem lobortis bibendum
                                    sed
                                    vitae
                                    magna. Nam nibh quam, dictum non egestas a, tincidunt at mauris.
                                </p>

                                <p>
                                    Praesent imperdiet ultricies turpis. Suspendisse eget mauris id libero fermentum
                                    dictum.
                                    Vivamus imperdiet, odio quis luctus tincidunt, orci ante pharetra ante, nec semper
                                    sapien
                                    urna sit amet elit. Donec libero lorem, aliquet quis ipsum vel, porta efficitur
                                    ligula.
                                    Integer non ornare diam, vel egestas lacus.
                                </p>
                                <p>
                                    In vitae purus mi. Proin condimentum scelerisque
                                    tincidunt. Duis at consectetur dui. Aliquam ut arcu luctus lorem lobortis bibendum
                                    sed
                                    vitae
                                    magna. Nam nibh quam, dictum non egestas a, tincidunt at mauris.
                                </p>
                            </div>
                            <div class="mail-footer mt-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn theme-color text-white" data-bs-toggle="modal"
                                    data-bs-target="#mailEditor">Reply
                                    <i class="ms-1 fas fa-reply"></i>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="mailEditor" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="mb-3">
                                                        <label for="recipient-name"
                                                            class="col-form-label">Recipient:</label>
                                                        <input type="text" class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="message-text"
                                                            class="col-form-label">Message:</label>
                                                        <textarea class="form-control" id="message-text"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Send message</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}