{% extends "mail/layout.html" %}

{% block body %}

    <div class="centered-page">
        <div class="container">
            <div class="row">
                <aside class="col-sm-2 col-md-3 col-xl-4"></aside>
                <aside class="col-sm-8 col-md-6 col-xl-4">
                    <div class="card login-wrapper">
                        <article class="card-body">
                            <h3 class="card-title text-center mb-4 mt-1"><strong>Log in</strong></h3>
                            <hr>
                            {% if message %}
                                <div style="color:#FF4848; text-align:center">{{ message }}</div>
                            {% endif %}
                            <form action="{% url 'login' %}" method="post" class="px-3">
                                {% csrf_token %}
                                <div class="input-wrapper">
                                    <div class="input-group mb-4">
                                        <span class="input-group-text"><i class="fas fa-at light-gray-text"></i></span>
                                        <input type="email" name="email" class="form-control" placeholder="Email"
                                               aria-label="email">
                                    </div>

                                    <div class="input-group mb-4">
                                        <span class="input-group-text"><i class="fas fa-key light-gray-text"></i></span>
                                        <input type="password" name="password" class="form-control"
                                               placeholder="Password"
                                               aria-label="Password">
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <button type="submit" class="btn theme-color w-100 text-white">Login</button>
                                </div>
                                <div class="text-center mt-4">
                                    <div>Don't have an account?</div>
                                    <a href="{% url 'register' %}" style="color: #3bb5b5">Register here.</a>
                                </div>
                            </form>
                        </article>
                    </div>

                </aside> <!-- col.// -->
                <aside class="col-sm-2 col-md-3 col-xl-4"></aside>
            </div> <!-- row.// -->
        </div>
    </div>

{% endblock %}